{% extends "layouts/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row mb-2">
        <div class="col-sm-3">
            <div class="card p-2">
                <div class="d-flex gap-2 justify-content-around">
                    <button type="button" class="btn btn-sm btn-primary">Lihat Jadwal</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Tambah Jadwal</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Data Penyebaran Amonnia</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Lokasi</th>
                    <th>Waktu</th>
                    <th>Durasi Penyebaran</th>
                    <th>Kadar Amonnia</th>
                    <th>Notifikasi</th>
                    <th>Progress</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr>
                    <td>1</td>
                    <td>
                        <i class="icon-base ri ri-bank-fill icon-22px text-primary me-4"></i><span>Bank Project</span>
                    </td>
                    <td>Jerry Milton</td>
                    <td><span class="badge rounded-pill bg-label-warning me-1">Pending</span></td>
                    <td><span class="badge rounded-pill bg-label-warning me-1">Pending</span></td>
                    <td><span class="badge rounded-pill bg-label-warning me-1">Pending</span></td>
                    <td><span class="badge rounded-pill bg-label-warning me-1">Pending</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
