{% extends "layouts/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="d-flex flex-row justify-content-between mb-2">
        <div class="card p-2" style="width: fit-content;">
            <div class="d-flex gap-2 justify-content-around">
                <a href="{{url_for('jadwal.lihat_jadwal')}}" class="btn btn-sm btn-primary">Lihat Jadwal</a>
                <a href="{{url_for('jadwal.tambah_jadwal')}}" class="btn btn-sm btn-outline-primary">Tambah Jadwal</a>
            </div>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Tambah Penyebaran Amonnia</h5>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="d-flex flex-column mx-4">
                <div class="my-4">
                    <form method="get">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row gap-2 w-100">
                                <input
                                        type="text"
                                        name="search"
                                        placeholder="Pencarian ..."
                                        value="{{ search }}"
                                        class="form-control form-control-sm w-25"/>
                                <button type="submit" class="btn btn-sm btn-light">Cari</button>
                            </div>
                            <a href="{{ url_for('jadwal.lihat_jadwal') }}"
                               class="btn btn-sm btn-outline-light text-black w-20">Clear Pencarian</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Tanggal Penyebaran</th>
                    <th>Kecamatan</th>
                    <th>Kelurahan</th>
                    <th>Waktu Mulai</th>
                    <th>Durasi Penyebaran</th>
                    <th>Kadar Amonnia</th>
                    <th>Status Kadar</th>
                    <th>Notifikasi</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                {% for jadwal in results %}
                <tr>
                    <td class="text-center">{{ loop.index }}</td>
                    <td>{{ jadwal.tanggal.strftime('%d %B %Y') }}</td>
                    <td class="text-center">{{ jadwal.kecamatan }}</td>
                    <td>{{ jadwal.kelurahan }}</td>
                    <td class="text-center">{{ jadwal.jam_mulai.strftime('%H:%M') }}</td>
                    <td class="text-center">{{ jadwal.durasi }}</td>
                    <td class="text-center">{{ jadwal.kadar }}</td>
                    <td class="text-center"><span class="badge rounded-pill bg-label-warning me-1">Pending</span></td>
                    <td class="text-center">
                        {%if jadwal.status == 'Terkirim'%}
                        <span class="badge rounded-pill bg-label-success me-1">{{ jadwal.status }}</span>
                        {%else%}
                        <span class="badge rounded-pill bg-label-danger me-1">{{ jadwal.status }}</span>
                        {%endif%}
                    </td>
                    <td>
                        <div class="d-flex flex-row gap-4">
                            <a class="dropdown-item" href="{{ url_for('jadwal.send_jadwal', id=jadwal.id) }}"
                            ><i class="icon-base text-info ri ri-mail-send-line icon-25px me-1"></i></a
                            >
                            <a class="dropdown-item" href="{{ url_for('jadwal.edit_jadwal', id=jadwal.id) }}"
                            ><i class="icon-base text-secondary ri ri-pencil-fill icon-25px me-1"></i></a
                            >
                            <a class="dropdown-item btn-delete" data-id="{{jadwal.id}}" href="javascript:void(0);"
                            ><i class="icon-base text-danger ri ri-delete-bin-6-line icon-25px me-1"></i></a
                            >
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex my-4 justify-content-end mx-4">
            <nav>
                <ul class="pagination">
                    {% if pagination.has_prev %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('jadwal.lihat_jadwal', page=pagination.prev_num, search=search) }}">«</a>
                    </li>
                    {% endif %}

                    {% for p in page_range %}
                    <li class="page-item {% if p == pagination.page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('jadwal.lihat_jadwal', page=p, search=search) }}">{{
                            p
                            }}</a>
                    </li>
                    {% endfor %}

                    {% if pagination.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('jadwal.lihat_jadwal', page=pagination.next_num, search=search) }}">»</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
<script>
    $('.btn-delete').click(function () {
        const jadwalId = $(this).data('id');

        if (confirm('Yakin ingin menghapus jadwal ini?')) {
            $.ajaxSetup({
                headers: {
                    'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                }
            });
            $.ajax({
                url: '/jadwal/hapus/' + jadwalId,
                type: 'DELETE',
                success: function (res) {
                    alert(res.message);
                    location.reload();
                },
                error: function () {
                    alert('Gagal menghapus jadwal.');
                }
            });
        }
    });
</script>
{% endblock %}
