<!doctype html>

<html
        lang="en"
        class="layout-navbar-fixed layout-menu-fixed layout-compact"
        dir="ltr"
        data-skin="default"
        data-bs-theme="light"
        data-assets-path="{{url_for('static', filename='/')}}"
        data-template="vertical-menu-template-no-customizer">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %} - Monitoring Anomia{% endblock %}</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon/favicon.ico')}}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
            rel="stylesheet"/>

    <link rel="stylesheet" href="{{url_for('static', filename='vendor/fonts/iconify-icons.css')}}"/>

    <!-- Core CSS -->
    <!-- build:css assets/vendor/css/theme.css -->

    <link rel="stylesheet" href="{{url_for('static', filename='vendor/libs/node-waves/node-waves.css')}}"/>

    <link rel="stylesheet" href="{{url_for('static', filename='vendor/libs/pickr/pickr-themes.css')}}"/>

    <link rel="stylesheet" href="{{url_for('static', filename='vendor/css/core.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/demo.css')}}"/>

    <!-- Vendors CSS -->

    <link rel="stylesheet"
          href="{{url_for('static', filename='vendor/libs/perfect-scrollbar/perfect-scrollbar.css')}}"/>

    <!-- endbuild -->

    <link rel="stylesheet" href="{{url_for('static', filename='vendor/libs/apex-charts/apex-charts.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/libs/swiper/swiper.css')}}"/>

    <!-- Page CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/css/pages/cards-statistics.css')}}"/>

    <!-- Helpers -->
    <script src="{{url_for('static', filename='vendor/js/helpers.js')}}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->

    <!--? Config: Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file. -->

    <script src="{{url_for('static', filename='js/config.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-white">
            <div class="app-brand demo" style="height: 130px;">

                <!--                <img src="{{url_for('static', filename='logo/logo.png')}}" class="bg-primary" width="170" alt="">-->
                <a href="index.html" class="app-brand-link mt-10">
                              <span class="app-brand-logo demo">
                                <span class="text-primary">
                                  <img src="{{url_for('static', filename='logo/logo.png')}}" width="180" alt="logo">
                                </span>
                              </span>
                </a>

                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M8.47365 11.7183C8.11707 12.0749 8.11707 12.6531 8.47365 13.0097L12.071 16.607C12.4615 16.9975 12.4615 17.6305 12.071 18.021C11.6805 18.4115 11.0475 18.4115 10.657 18.021L5.83009 13.1941C5.37164 12.7356 5.37164 11.9924 5.83009 11.5339L10.657 6.707C11.0475 6.31653 11.6805 6.31653 12.071 6.707C12.4615 7.09747 12.4615 7.73053 12.071 8.121L8.47365 11.7183Z"
                                fill-opacity="0.9"/>
                        <path
                                d="M14.3584 11.8336C14.0654 12.1266 14.0654 12.6014 14.3584 12.8944L18.071 16.607C18.4615 16.9975 18.4615 17.6305 18.071 18.021C17.6805 18.4115 17.0475 18.4115 16.657 18.021L11.6819 13.0459C11.3053 12.6693 11.3053 12.0587 11.6819 11.6821L16.657 6.707C17.0475 6.31653 17.6805 6.31653 18.071 6.707C18.4615 7.09747 18.4615 7.73053 18.071 8.121L14.3584 11.8336Z"
                                fill-opacity="0.4"/>
                    </svg>

                </a>
            </div>

            <div class="menu-inner-shadow"></div>

            <hr>
            <ul class="menu-inner">

                <li class="menu-item {{ 'active' if title == 'Dashboard' else '' }}">
                    <a href="{{url_for('dashboard.dashboard')}}" class="menu-link">
                        <i class="menu-icon icon-base ri ri-dashboard-2-line"></i>
                        <div data-i18n="Dashboard">Dashboard</div>
                    </a>
                </li>
                <li class="menu-item {{ 'active' if title == 'Laporan' else '' }}">
                    <a href="{{url_for('laporan.laporan')}}" class="menu-link">
                        <i class="menu-icon icon-base ri ri-time-line"></i>
                        <div data-i18n="Manajemen Laporan">Manajemen Laporan</div>
                    </a>
                </li>
                <li class="menu-item {{ 'active' if title == 'Jadwal' else '' }}">
                    <a href="{{url_for('jadwal.lihat_jadwal')}}" class="menu-link">
                        <i class="menu-icon icon-base ri ri-calendar-2-line"></i>
                        <div data-i18n="Jadwal Penyebaran">Jadwal Penyebaran</div>
                    </a>
                </li>
                <li class="menu-item {{ 'active' if title == 'Wilayah' else '' }}">
                    <a href="{{url_for('wilayah.lihat_provinsi')}}" class="menu-link">
                        <i class="menu-icon icon-base ri ri-pin-distance-line"></i>
                        <div data-i18n="Wilayah Penyebaran">Wilayah Penyebaran</div>
                    </a>
                </li>
                <li class="menu-item {{ 'active' if title == 'Masyarakat' else '' }}">
                    <a href="{{url_for('masyarakat.lihat_masyarakat')}}" class="menu-link">
                        <i class="menu-icon icon-base ri ri-time-line"></i>
                        <div data-i18n="Manajemen Masyarakat">Manajemen Masyarakat</div>
                    </a>
                </li>
                <li class="menu-item {{ 'active' if title == 'Admin' else '' }}">
                    <a href="{{url_for('admin.lihat_admin')}}" class="menu-link">
                        <i class="menu-icon icon-base ri ri-user-2-line"></i>
                        <div data-i18n="Admin">Admin</div>
                    </a>
                </li>
            </ul>
        </aside>

        <div class="menu-mobile-toggler d-xl-none rounded-1">
            <a href="javascript:void(0);"
               class="layout-menu-toggle menu-link text-large text-bg-secondary p-2 rounded-1">
                <i class="ri ri-menu-line icon-base"></i>
                <i class="ri ri-arrow-right-s-line icon-base"></i>
            </a>
        </div>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            <nav
                    class="layout-navbar navbar align-items-center bg-white">
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
                        <i class="icon-base ri ri-menu-line icon-22px"></i>
                    </a>
                </div>

                <div class="navbar-nav-right d-flex align-items-center justify-content-end" id="navbar-collapse">
                    <!-- Search -->
                    <div class="navbar-nav align-items-center mx-4">
                        <div class="nav-item navbar-search-wrapper mb-0">
                            <div class="text-black" style="font-size: 18px">{{ title }}</div>
                            <span class="text-light" style="font-size: 14px">{{ subtitle }}</span>
                        </div>
                    </div>

                    <!-- /Search -->

                    <ul class="navbar-nav flex-row align-items-center ms-md-auto mx-5">

                        <!-- User -->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown position-relative">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                               data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img src="{{url_for('static', filename='img/avatars/1.png')}}" alt="avatar"
                                         class="rounded-circle"/>
                                </div>
                            </a>
                            <ul class="nav-item dropdown-menu dropdown-menu-end py-2" style="margin-top: 300px">
                                <li>
                                    <a class="dropdown-item" href="pages-account-settings-account.html">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <div class="avatar avatar-online">
                                                    <img
                                                            src="{{url_for('static', filename='img/avatars/1.png')}}"
                                                            alt="alt"
                                                            class="w-px-40 h-auto rounded-circle"/>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mb-0 small">{{ current_user.name }}</h6>
                                                <small class="text-body-secondary">Kode Admin {{ current_user.kode_admin }}</small>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="d-flex flex-column text-center">
                                            <span>Email</span>
                                            <span class="text-body-secondary">{{current_user.email}}</span>
                                         </div>
                                        <div class="d-flex flex-column text-center">
                                            <span>Wilayah Kerja</span>
                                            <span class="text-body-secondary">{{current_user.kabupaten.name}}</span>
                                         </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="pages-profile-user.html">
                                        <i class="icon-base ri ri-user-3-line icon-22px me-3"></i
                                        ><span class="align-middle">My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="pages-account-settings-account.html">
                                        <i class="icon-base ri ri-settings-4-line icon-22px me-3"></i
                                        ><span class="align-middle">Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="pages-account-settings-billing.html">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 icon-base ri ri-file-text-line icon-22px me-3"></i>
                          <span class="flex-grow-1 align-middle">Billing Plan</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger">4</span>
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="pages-pricing.html">
                                        <i class="icon-base ri ri-money-dollar-circle-line icon-22px me-3"></i
                                        ><span class="align-middle">Pricing</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="pages-faq.html">
                                        <i class="icon-base ri ri-question-line icon-22px me-3"></i
                                        ><span class="align-middle">FAQ</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="d-grid px-4 pt-2 pb-1">
                                        <a class="btn btn-sm btn-danger d-flex" href="{{ url_for('auth.logout') }}"
                                           target="_blank">
                                            <small class="align-middle">Logout</small>
                                            <i class="icon-base ri ri-logout-box-r-line ms-2 icon-16px"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!--/ User -->
                    </ul>
                </div>
            </nav>

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                {% block content %}{% endblock %}
                <!-- / Content -->

                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl">
                        <div
                                class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                &#169;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                , made with ❤️ by
                                <a href="https://pixinvent.com" target="_blank"
                                   class="footer-link fw-medium">Pixinvent</a>
                            </div>
                            <div class="d-none d-lg-inline-block">
                                <a href="https://themeforest.net/licenses/standard" class="footer-link me-4"
                                   target="_blank"
                                >License</a
                                >

                                <a href="https://themeforest.net/user/pixinvent/portfolio" target="_blank"
                                   class="footer-link me-4"
                                >More Themes</a
                                >
                                <a
                                        href="https://demos.pixinvent.com/materialize-html-admin-template/documentation/"
                                        target="_blank"
                                        class="footer-link me-4"
                                >Documentation</a
                                >

                                <a href="https://pixinvent.ticksy.com/" target="_blank"
                                   class="footer-link d-none d-sm-inline-block"
                                >Support</a
                                >
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->

<!-- build:js assets/vendor/js/theme.js  -->
<script src="{{url_for('static', filename='vendor/libs/jquery/jquery.js')}}"></script>

<script src="{{url_for('static', filename='vendor/libs/popper/popper.js')}}"></script>
<script src="{{url_for('static', filename='vendor/js/bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='vendor/libs/node-waves/node-waves.js')}}"></script>

<script src="{{url_for('static', filename='vendor/libs/@algolia/autocomplete-js.js')}}"></script>

<script src="{{url_for('static', filename='vendor/libs/perfect-scrollbar/perfect-scrollbar.js')}}"></script>

<script src="{{url_for('static', filename='vendor/libs/hammer/hammer.js')}}"></script>

<script src="{{url_for('static', filename='vendor/libs/i18n/i18n.js')}}"></script>

<script src="{{url_for('static', filename='vendor/js/menu.js')}}"></script>

<!-- endbuild -->

<!-- Vendors JS -->
<script src="{{url_for('static', filename='vendor/libs/apex-charts/apexcharts.js')}}"></script>
<script src="{{url_for('static', filename='vendor/libs/swiper/swiper.js')}}"></script>

<!-- Main JS -->

<script src="{{url_for('static', filename='js/main.js')}}"></script>

<!-- Page JS -->
<script src="{{url_for('static', filename='js/dashboards-analytics.js')}}"></script>
</body>
</html>
