{% extends "layouts/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="d-flex flex-row justify-content-between mb-2">
        <div class="card p-2" style="width: fit-content;">
            <div class="d-flex gap-2 justify-content-around">
                <button type="button" class="btn btn-sm {{ 'btn-primary' if wilayah == 'Provinsi' else 'btn-outline-primary' }}">Provinsi</button>
                <button type="button" class="btn btn-sm {{ 'btn-primary' if wilayah == 'Kabupaten' else 'btn-outline-primary' }}">Kabupaten</button>
                <button type="button" class="btn btn-sm {{ 'btn-primary' if wilayah == 'Kecamatan' else 'btn-outline-primary' }}">Kecamatan</button>
                <button type="button" class="btn btn-sm {{ 'btn-primary' if wilayah == 'Kalurahan/Desa' else 'btn-outline-primary' }}">Kalurahan/Desa</button>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-sm btn-primary">Tambah</button>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Daftar {{wilayah}}</h5>
        <div class="d-flex flex-column px-4">
            <div class="mb-4">
                <form method="get">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row gap-2 w-100">
                            <input
                                    type="text"
                                    name="search"
                                    placeholder="Pencarian ..."
                                    value="{{ search }}"
                                    class="form-control form-control-sm w-25"/>
                            <button type="submit" class="btn btn-sm btn-light">Cari</button>
                        </div>
                        <a href="{{ url_for('wilayah.lihat_provinsi') }}"
                           class="btn btn-sm btn-outline-light text-black w-20">Clear Pencarian</a>
                    </div>
                </form>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Provinsi</th>
                        <th>Kabupaten</th>
                        <th>Kecamatan</th>
                        <th>Kelurahan/Desa</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for kelurahan, kecamatan, kabupaten, provinsi in pagination.items %}
                    <tr>
                        <td>{{ (pagination.page - 1) * pagination.per_page + loop.index }}</td>
                        <td>{{ provinsi.name }}</td>
                        <td>{{ kabupaten.name }}</td>
                        <td>{{ kecamatan.name }}</td>
                        <td>{{ kelurahan.name }}</td>
                        <td>aksi</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex my-4 justify-content-end">
                <nav>
                <ul class="pagination">
                    {% if pagination.has_prev %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('wilayah.lihat_provinsi', page=pagination.prev_num, search=search) }}">«</a>
                    </li>
                    {% endif %}

                    {% for p in page_range %}
                    <li class="page-item {% if p == pagination.page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('wilayah.lihat_provinsi', page=p, search=search) }}">{{ p
                            }}</a>
                    </li>
                    {% endfor %}

                    {% if pagination.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('wilayah.lihat_provinsi', page=pagination.next_num, search=search) }}">»</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            </div>
        </div>
    </div>
    {% endblock %}
