{% extends "layouts/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="d-flex flex-row justify-content-between mb-2">
        <div>
            <a href="{{ url_for('wilayah.tambah_kecamatan') }}" class="btn btn-sm btn-primary">Tambah</a>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Daftar Kecamatan</h5>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} alert-dismissible"
                 role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="d-flex flex-column px-4">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Kecamatan</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for wilayah in wilayahs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ wilayah.name }}</td>
                        <td>
                            <div class="d-flex flex-row gap-2">
                                <a class="dropdown-item" href="{{ url_for('wilayah.lihat_kelurahan', id=wilayah.id) }}"
                                ><i class="icon-base text-info ri ri-file-list-line icon-25px me-1"></i></a
                                >
                                <a class="dropdown-item" href="{{ url_for('wilayah.edit_kecamatan', id=wilayah.id) }}"
                                ><i class="icon-base text-secondary ri ri-pencil-fill icon-25px me-1"></i></a
                                >
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
