{% extends "layouts/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="card">
        <h5 class="card-header">Admin</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Akun Personel</th>
                    <th>Kode Admin</th>
                    <th>Wilayah Kabupaten</th>
                    <th>Tanggal Mulai</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                {% for admin in admins %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ admin.name }}</td>
                    <td>{{ admin.kode_admin }}</td>
                    <td>{{ admin.kabupaten.name }}</td>
                    <td>{{ admin.created_at.strftime('%d %B %Y %H:%M') }}</td>
                    <td>
                        {%if admin.status == 'Aktif'%}
                        <span class="badge rounded-pill bg-label-success me-1">{{ admin.status }}</span>
                        {%else%}
                        <span class="badge rounded-pill bg-label-warning me-1">{{ admin.status }}</span>
                        {%endif%}
                    </td>
                    <td>
                        <div class="d-flex flex-row gap-2">
                            <a class="dropdown-item" href="javascript:void(0);"
                            ><i class="icon-base text-secondary ri ri-pencil-fill icon-25px me-1"></i></a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                            ><i class="icon-base text-danger ri ri-delete-bin-6-line icon-25px me-1"></i></a
                            >
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
